<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956763978510-6pf66nsmo36s9f867q94qvj7mph9r9ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956763978510-6pf66nsmo36s9f867q94qvj7mph9r9ga</string>
	<key>API_KEY</key>
	<string>AIzaSyB09rujX3Fm7GIk8wzRybsUYAt2mFW3W9o</string>
	<key>GCM_SENDER_ID</key>
	<string>956763978510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unicall</string>
	<key>PROJECT_ID</key>
	<string>unicall-17198</string>
	<key>STORAGE_BUCKET</key>
	<string>unicall-17198.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956763978510:ios:42e64fb0a7df84c4c6355f</string>
</dict>
</plist>